{% extends 'about/base.html' %}

{% block title %}Password Reset Complete{% endblock %}

{% block hero %}{% endblock %}

{% block content %}
<div container>
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-10 col-12">
            <h1>Reset your password</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-10 col-12">
            <p>We've emailed you instructions for setting your password.</p>
            <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
        </div>
    </div>
</div>
{% endblock %}
