{% extends 'about/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block hero %} 
<div class="hero-wrap hero-bread" style="background-image: url('../../static/images/bg_1.jpg');">
</div>
<div class="container">
  <div class="row no-gutters slider-text align-items-center justify-content-center">
    <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>Sign Up</span></p>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="heading-section-bold mb-4 mt-md-5">
      <div class="row justify-content-center">
        <h2 class="mb-4">Sign up for a NowWeGrow account</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="pb-md-5">
        <p>Choose the type of account you would like to create.</p>
        <a href="{% url 'customer_signup' %}" class="btn btn-customer btn-lg" role="button">Customer</a>
        <a href="{% url 'merchant_signup' %}" class="btn btn-merchant btn-lg" role="button">Farmer or Merchant</a>
      </div>
    </div>
</section>

{% endblock %}